# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Ignore IDE settings
.idea/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

backend/.env
node_modules/
frontend/config.js

# Ignore documentation files
TODO.md
