# Backend port
PORT=5000

# Local MongoDB (for development)
MONGO_URI=mongodb://localhost:27017/wordle

# For production (MongoDB Atlas), replace with your Atlas connection string
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/wordle

# JWT secret (must be changed in real usage)
JWT_SECRET=your_secret_here